FPS=${FPS-60}
mapselect=${mapselect-4}
NTHR=${NTHR-8}
UNBUFFERED=1 # any non empty string
MINIMAP=${MINIMAP-asdf} # any non empty string

# jemalloc usually makes bash go faster than the glibc malloc
for jemalloc in /usr/lib{,64,/x86_64-linux-gnu}/libjemalloc.so; do
    [[ -e $jemalloc ]] && [[ ! $LD_PRELOAD = *$jemalloc* ]] && {
        LD_PRELOAD+=${LD_PRELOAD:+:}$jemalloc
        export LD_PRELOAD
        break
    }
done

# a full column can realistically exceed glibc's default buffering size
# this is fine normally but not if our manual buffering is also disabled
for stdbuf in /usr/lib{,64,exec,/x86_64-linux-gnu}/coreutils/libstdbuf.so; do
    [[ -e $stdbuf ]] && [[ ! $LD_PRELOAD = *$stdbuf* ]] && {
        LD_PRELOAD+=${LD_PRELOAD:+:}$stdbuf
        export LD_PRELOAD _STDBUF_O=100000
        break
    }
done
